@model Crud_Colegio.Models.Entities.Usuario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre_User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre_User)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date_User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date_User)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Edad_USer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Edad_USer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email_User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email_User)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumTel_User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumTel_User)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id_User">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>