@model IEnumerable<Crud_Colegio.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre_User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email_User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumTel_User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documentos.Nombre_Doc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roles.Nombre_Rol)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre_User)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email_User)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumTel_User)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Documentos.Nombre_Doc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Roles.Nombre_Rol)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id_User" class="btn btn-secondary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id_User" class="btn btn-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id_User" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
